<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/public/css/main.css">

    <title>Minery</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/home.html">Home</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Phasellus</a></li>
                <li><a href="#">Suspendisse</a></li>
            </ul>
        </nav>
    </header>

    <main class="global-content">

        <section class="section-banner">
            <article>
                <h2>DONEC DAPIBUS EGET <br/> 
                ODIO ID COMMODO.</h2>
                <input type="button" value="DONEC EU NUNC">
            </article>
            <img src="/public/img/banner.png" alt="Banner">
        </section>

        <section class="section-notebook">
            <img src="/public/img/notebook.png" alt="Notebook">
            <article>
                <h2>
                    ORCI VARIUS NATOQUE <br/> 
                    PENATIBUS
                </h2>
                 <small>  
                     <p>
                         Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias deserunt, culpa sit accusantium eum repellendus illo veritatis enim repudiandae nisi ullam architecto reprehenderit sapiente explicabo animi numquam aspernatur quo magnam.
                     </p>
                     <ul>
                         <li>Lorem ipsum, dolor sit.</li>
                         <li>Lorem ipsum, dolor</li>
                         <li>Lorem ipsum, dolor sit amet consectetur elit.</li>
                         <li>Lorem ipsum, dolor sit amet </li>
                         <li>odio accusamus tenetur non quas aperiam repellendus ut.</li>
                     </ul>
                 </small>
                <input type="button" value="NULLAM IN MOLESTIE">
            </article>
        </section>

        <section class="section-cards">
            <article>
                <h2>FUSCE SUSCIPIT IACULIS</h2>
                <small><p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic, laborum minus quaerat rerum magni adipisci explicabo fuga totam, cupiditate labore molestiae quis ipsum. Tempore nulla voluptates asperiores veritatis. Doloremque, ipsam!</p></small>
            </article>
            <div class="cards">
                <div class="card">
                    <img src="/public/img/card-1.png" alt="card-1">
                    <p>lorem ipsum dolor sit amet</p>
                </div>
                <div class="card">
                    <img src="/public/img/card-2.png" alt="card-1">
                    <p>lorem ipsum dolor sit amet</p>
                </div>
                <div class="card">
                    <img src="/public/img/card-3.png" alt="card-1">
                    <p>lorem ipsum dolor sit amet</p>
                </div> 
            </div>
        </section>

        <section class="section-arrow">
            <div>
                <article>
                    <h2>ALIQUAM ERAT VOLUTPAT</h2>
                    <small>
                        <p>
                         Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione corporis accusamus cupiditate aliquam enim voluptatem, dolorum molestias atque, tempora quaerat fuga velit provident? Fuga obcaecati in commodi nemo. Aut, voluptas!
                        </p>
                    </small>
                </article>
                <img src="/public/img/arrow.png" alt="arrow">
            </div>
            <fieldset>
                <input action="#" type="email" id="email" name="email" placeholder="Digite seu e-mail"> 
                <button>ENVIAR</button>
            </fieldset>
        </section>
    </main>
    
    <footer>
        <p>
            
        </p>
    </footer>

</body>
</html>